.center-screen {
	display: flex;
	justify-content: left;
	align-items: center;
	min-height: 100vh;
	height: 100%;
    padding-top: 20px;
}

.section {
    height: 100%;
    padding-top: 20px;
}

.testButton{
	background-color: "#AEC8CA";
	padding: 3px;
	border-radius: 10px;
}

.testButton:hover{
	padding: 10px;
	background-color: #6ab4ba;
}

